<html>
	<head>
		<title>VulnShop</title>
	</head>
	<body>
		<h1><%= @product[:name] %></h1>
		<p><%= @product[:description] %></p>
		<p>Price: <%= @product[:price] / 100 %></p>
		<h3>Order</h3>
		<form method="post" action="/order">
			<input type="hidden" name="id" value="<%= @product[:id] %>" />
			<fieldset data-role="controlgroup">
				<label for="name">Name:</label>
				<p>
					<input type="text" id="name" name="name" value="Tobias Luetke" />
				</p>
				<label for="cc">Credit card number:</label>
				<p>
					<input type="text" id="cc" name="cc" value="4011111111111112" />
				</p>
				<label for="month">Month:</label>
				<p>
					<input type="text" id="month" name="month" value="8" />
				</p>
				<label for="year">Year:</label>
				<p>
					<input type="text" id="year" name="year" value="2025" />
				</p>
				<label for="cvv">CVV:</label>
				<p>
					<input type="text" id="cvv" name="cvv" value="123" />
				</p>
				<p>
					<input type="submit" value="Purchase" />
				</p>
			</fieldset>
		</form>
	</body>
</html>
