<html>
	<head>
		<title>VulnShop</title>
	</head>
	<body>
		<h1><%= @product[:name] %></h1>
		<p><%= @product[:description] %></p>
		<h3>Order</h3>
		<form method="post" action="/order">
			<fieldset data-role="controlgroup">
				<label for="name">Name:</label>
				<p>
					<input type="text" id="name" name="name" />
				</p>
				<label for="cc">Credit card number:</label>
				<p>
					<input type="text" id="cc" name="cc" />
				</p>
				<label for="month">Month:</label>
				<p>
					<input type="text" id="month" name="month" />
				</p>
				<label for="year">Year:</label>
				<p>
					<input type="text" id="year" name="year" />
				</p>
				<label for="cvv">CVV:</label>
				<p>
					<input type="text" id="cvv" name="cvv" />
				</p>
				<p>
					<input type="submit" value="Purchase" />
				</p>
			</fieldset>
		</form>
	</body>
</html>
